body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f9fa;
    padding: 30px;
}
.container {
    background-color: white;
    padding: 20px;
    margin: auto;
    width: 40%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    background-color: #5e72e4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="file"] {
  max-width: 300px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.progress-bar {
  font-size: 0.9rem;
  font-weight: bold;
}

